body
{
    font-family: Comics Sans, 24pt;
}


.mainmenu
{
    font-size: 24pt;
    background-color: pink;
}
img.mainmenu
{
    width: 24px;
    height: 24px;

}
div#userid a
{
    display: block;

    float: right;
}
ul#fg_membersite_content, ul#fg_membersite_content li
{
    display: inline;
    font-size: 12pt;
}
.icon-32
{
    width: 20px;
    height: 20px;
} 

li.button_appdoc 

{
    display: float;
    padding: 5pt;
    margin : 5pt;
    color: black;
    background-color: white;
}
li.button_appdoc a
{
    text-decoration: none;
}
div#fg_membersite {
    height:200px;
    line-height:200px;
    text-align:center; /* centrage horizontal */
}

#fg_membersite fieldset {
    width:100px;
    border:1px solid #fff;
    vertical-align:middle;
    display:inline-block;
    line-height:normal; /* on rétablit le line-height */
    text-align:left; /* ... et l'alignement du texte */
}
#user_frame
{
    float: right; 
    height: 50px; 
    background-color: #00ffff; 
    color: #ff0000;  
    border: 3px #009;}
#context_menu_bar
{
    height: 200px; 
    background-color: #ffff00; 
    color: #0000ff;  
    border: 3px #009;}
#appdoc_menu{ 
    height: 800px; 
    float: left; 
    width: 20%; 
    background-color: #C0C0C0; 
    color: #0C0C0C; 
    border: 3px #009;
}
#contents{
    height: 800px; 
    background-color: #FFFDDD; 
    color: #000444;  
    border: 3px #009;}
#error{

}
img.miniImg, div.miniImg
{
   width: 200px; 
   height: 200px; 
   overflow: hidden;
}
 a.miniImg
 {
     display: block;
     float: left;
     width: 220px;
     height: 240px;
     border: 2px solid #C0C0C0;
     overflow-x: hidden;
 }
 span.miniImg
 {
     overflow-x: hidden;
 }
 #document pre
 {
     display: block;
     font-size: 18pt;
     font-family: serif Whitney, Comics Sans;
     margin: 2px solid green;
 }
 #document
 {
     display: block;
     font-size: 18pt;
     font-family: serif Whitney, Comics Sans;
     margin: 2px solid orange;
 }
.miniature_txt
{
    width: 161px;
    height: 141px;
    border: 3px inset black;
    overflow: hidden;
}
.filename

{
    overflow-x: hidden;
}
a.miniImg 
{
    text-decoration: none;
    border: none;
}
cadre_media, #document
{
    margin-left: 33%;
    position: fixed;
    width: 50%;
    height: 50%;
    border: 5px inset black;
    overflow-style: scrollbar;
    overflow: scroll;
}
#document img
{
    width:  100%;
    height:  100%;
}
a.nav_buttons
{
    float: left;
    display: block;
    font-size: 18pt;
    background-color: #0000ff; 
    color: white;
    text-decoration: none;
   margin: 2pt;
   border: 3px solid gray;
}