title {
    display: block;
}
body
{
    font-family: Comics Sans, 24pt;
    z-index: 0;
}


.mainmenu
{
    font-size: 24pt;
    background-color: pink;
}
img.mainmenu
{
    width: 24px;
    height: 24px;

}
div#userid a
{
    display: block;

/*    float: right;*/
}
ul#fg_membersite_content, ul#fg_membersite_content li
{
    display: inline;
    font-size: 12pt;
}
.icon-32
{
    width: 20px;
    height: 20px;
} 

a.button_appdoc, .button_appdoc{
    display: float;
    float:left;
}
.button_appdoc a, .button_help, .button_help a

{
    padding: 5pt;
    margin : 5pt;
    color: whitesmoke;
    background-color: blueviolet;
    text-decoration: none;
    border: 1px solid chocolate;
}
div#fg_membersite {
    height:110px;
    line-height:110px;
    text-align:center; /* centrage horizontal */
    z-index: 1;

}

#fg_membersite fieldset {
    width: 100px;
    border:1px solid #fff;
    vertical-align:middle;
    display:inline-block;
    line-height:normal; /* on rétablit le line-height */
    text-align:left; /* ... et l'alignement du texte */
}
#user_frame
{
    float: right;
    width : 300px;
    background-color: #00ffff; 
    color: #ff0000;  
    border: 3px solid #009;
}
#user_frame p 
{
    background-color: #00ffff; 

}

#context_menu_bar
{
    float: left;
    background-color: #ffff00; 
    color: #0000ff;  
    border: 3px solid #009;
}
#context_menu_bar a:hover
{
    color: #FFFFFF;
}
#context_menu_bar a
{
    color: #DDD;
}
#context_menu_bar a:visited
{
    color: #999;
}

#appdoc_menu{ 
    float: left; 
    width: 30%; 
    background-color: #C0C0C0; 
    color: #0C0C0C; 
    border: 3px #009;
}

#contents{
    background-color: #FFFDDD; 
    color: #000444;  
    border: 3px #009;}
#error{

}
.miniImgContainer img, .miniImg div, typeTextBlock
{
    width: 200px; 
    height: 200px; 
    overflow: hidden;
    border: 3px inset black;
}
div.miniImgContainer
{
    width: 240px;
    height: 260px;
    float: left;
}


a.miniImg
{
    display: block;
    float: left;
    width: 220px;
    height: 240px;
    overflow-x: hidden;
}
a.miniImg span.filename

{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    text-decoration-style: dashed;
    
}
a.miniImg .typeTextBlock
{
    text-decoration: none;
    color: black;
    
}
span.miniImg
{
    overflow-x: hidden;
}
/*#document pre
{
    display: block;
    font-size: 18pt;
    font-family: serif Whitney, Comics Sans;
    margin: 2px solid green;
}*/
div#document
{
    width: 100%;
    display: block;
    font-size: 18pt;
    font-family: serif Whitney, Comics Sans;
    border: 2px solid orange;
    overflow: auto;
    word-wrap: normal;
    hyphens: auto;

}
.miniature_txt
{
    width: 161px;
    height: 141px;
    border: 3px inset black;
    overflow: hidden;
}
.filename

{
    overflow-x: hidden;
}
a.miniImg 
{
    text-decoration: none;
    border: none;
}
cadre_media, #document
{
    /*margin-left: 33%;
    width: 50%;
    height: 50%;*/
    border: 3px inset black;
    overflow-style: scrollbar;
    overflow: scroll;
}
#document img
{
    /*width:  100%;
    height:  100%;*/
}
a.nav_buttons
{
    float: left;
    display: block;
    font-size: 18pt;
    background-color: #0000ff; 
    color: white;
    text-decoration: none;
    margin: 2pt;
    border: 3px solid gray;
}
textarea,input
{
    font-size: 24pt;
}
input.filecheckbox
{
    display: inline;
    /*float: right;*/
    z-index: 10;
}
.clearBoth
{
    display: block;
    clear: both;
}
.contents
{
    display: block;
}

#disclisting
{
    display: none;
}

.button_help, .button_help a
{
    background-color: grey;
}

.ui-state-highlight
{
    background-color: yelllow;
}
span.path_array
{
	display: float;
	float: right;
	border : 5px dotted gray;
	padding: 5px;
        margin: 5px;
        background-color: gray;
	color: white;
}
doc_container
{
    width: 700px;
}